*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pricingContainer {
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f8fafc;
  color: #fff;
  height: auto;
  padding: 1% 10% 0 10%;
  box-sizing: border-box;
}

/* Header */
.headerSection {
  text-align: center;
  margin-bottom: 20px;
}

.title {
  font-family: sans-serif;;
  font-size: 2rem;
  color: black;
  margin-bottom: 8px;
  font-weight: 600;
}

.subtitle {
  font-size: 1rem;
  color: black;
}

/* Content Section start */
.contentSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
  width: 100%;
  max-width: 1400px;
  height: 100%;
  margin-top: 20px;
  flex-wrap: wrap;
}

/* Features Section ----> Left side styling */
.features {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  max-height: 100%;
}

.featuresTitle {
  font-size: 1.1rem;
  color: black;
  margin-bottom: 12px;
  text-align: center;
  font-weight: 800;
}

.featuresDescription {
  font-size: 0.9rem;
  color: black;
  margin-bottom: 15px;
}

.featuresList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.featuresList li {
  margin: 6px 0;
  font-size: 0.9rem;
  color: black;
  position: relative;
  padding-left: 18px;
}

.featuresList li::before {
  content: "✔";
  color: #00e676;
  position: absolute;
  left: 0;
  font-size: 0.9rem;
}

/* Plans Section ------>> Right side */
.plans {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 2%;
  max-height: 100%;
}

/* Plan Cards */
.planCard {
  width: 100%;
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.planTitle {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: fit-content;
  padding: 2%;
  font-size: 1.1rem;
  color: white;
  border-radius: 10px;
  background-color: #313949;
  font-weight: 700;
  margin: 0; 
}

.planSellers {
  font-size: 1.2rem;
  font-weight: 700;
  font-family: 'Grotesk', sans-serif;
  color: black;
  margin: 8px 0; 
}

.planPrice {
  font-size: 1.3rem; 
  font-weight: 100;
  color: black;
  margin: 10px 0 15px 0; 
}

.planButton {
  background: #0f172a; 
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 0.9rem;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}
